{% extends 'base.html' %}
{% block title %}Пароль изменен{% endblock title %}
{% block header %}{% endblock header %}

{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">Пароль успешно изменен</p>
        <div class="custom-button-block">
            <form action="{% url 'index' %}">
                <button type="submit" class="button button_style_blue">Перейти на главную</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block base_javascript %}{% endblock base_javascript %}
